{extend name="base/layout"}

{block name="content"}

<breadcrumb :style="{margin: '24px 0'}">
    <breadcrumb-item>Home</breadcrumb-item>
    <breadcrumb-item>Components</breadcrumb-item>
    <breadcrumb-item>Layout</breadcrumb-item>
</breadcrumb>

<i-content :style="{padding: '24px', minHeight: '280px', background: '#fff'}">
    Content
</i-content>

{/block}

{block name="script"}
<script>
    $content = new Vue({
        el: '#content',
        data: {
            visible: false
        },
        methods: {
            show: function () {
                this.visible = true;
            }
        }
    })
</script>
{/block}
<!--<!doctype html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--&lt;!&ndash;    <meta name="viewport"&ndash;&gt;-->
<!--&lt;!&ndash;          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">&ndash;&gt;-->
<!--&lt;!&ndash;    <meta http-equiv="X-UA-Compatible" content="ie=edge">&ndash;&gt;-->
<!--    <title>Admin Index</title>-->

<!--    <link rel="stylesheet" type="text/css" href="https://unpkg.com/iview/dist/styles/iview.css">-->
<!--&lt;!&ndash;    <script src="http://vuejs.org/js/vue.min.js"></script>&ndash;&gt;-->
<!--    <script src="https://cdn.jsdelivr.net/npm/vue"></script>-->
<!--    <script src="https://unpkg.com/iview/dist/iview.min.js"></script>-->

<!--    <style>-->
<!--        /*#app{padding: 32px;}*/-->
<!--        .layout{-->
<!--            border: 1px solid #d7dde4;-->
<!--            background: #f5f7f9;-->
<!--            position: relative;-->
<!--            border-radius: 4px;-->
<!--            overflow: hidden;-->
<!--        }-->
<!--        .layout-logo{-->
<!--            width: 100px;-->
<!--            height: 30px;-->
<!--            background: #5b6270;-->
<!--            border-radius: 3px;-->
<!--            float: left;-->
<!--            position: relative;-->
<!--            top: 15px;-->
<!--            left: 20px;-->
<!--        }-->
<!--        .layout-nav{-->
<!--            width: 420px;-->
<!--            margin: 0 auto;-->
<!--            margin-right: 20px;-->
<!--        }-->


<!--    </style>-->
<!--    &lt;!&ndash;    @import url("//unpkg.com/iview/dist/styles/iview.css");&ndash;&gt;-->

<!--    &lt;!&ndash;    <script src="//unpkg.com/vue/dist/vue.js"></script>&ndash;&gt;-->
<!--&lt;!&ndash;    <script src="//unpkg.com/iview/dist/iview.min.js"></script>&ndash;&gt;-->
<!--</head>-->
<!--<body>-->

<!--<div id="app">-->

<!--    <div class="layout">-->
<!--        <layout>-->
<!--            <i-header>-->
<!--                <i-menu mode="horizontal" theme="dark" active-name="1">-->
<!--                    <div class="layout-logo"></div>-->
<!--                    <div class="layout-nav">-->
<!--                        <menu-item name="1">-->
<!--                            <icon type="ios-navigate"></icon>-->
<!--                            Item 1-->
<!--                        </menu-item>-->
<!--                        <menu-item name="2">-->
<!--                            <icon type="ios-keypad"></icon>-->
<!--                            Item 2-->
<!--                        </menu-item>-->
<!--                        <menu-item name="3">-->
<!--                            <icon type="ios-analytics"></icon>-->
<!--                            Item 3-->
<!--                        </menu-item>-->
<!--                        <menu-item name="4">-->
<!--                            <icon type="ios-paper"></icon>-->
<!--                            Item 4-->
<!--                        </menu-item>-->
<!--                    </div>-->
<!--                </i-menu>-->
<!--            </i-header>-->
<!--            <layout>-->
<!--                <sider hide-trigger :style="{background: '#fff'}">-->
<!--                    <i-menu active-name="1-2" theme="light" width="auto" :open-names="['1']">-->
<!--                        <submenu name="1">-->
<!--                            <template slot="title">-->
<!--                                <icon type="ios-navigate"></icon>-->
<!--                                Item 1-->
<!--                            </template>-->
<!--                            <menu-item name="1-1">Option 1</menu-item>-->
<!--                            <menu-item name="1-2">Option 2</menu-item>-->
<!--                            <menu-item name="1-3">Option 3</menu-item>-->
<!--                        </submenu>-->
<!--                        <submenu name="2">-->
<!--                            <template slot="title">-->
<!--                                <icon type="ios-keypad"></icon>-->
<!--                                Item 2-->
<!--                            </template>-->
<!--                            <menu-item name="2-1">Option 1</menu-item>-->
<!--                            <menu-item name="2-2">Option 2</menu-item>-->
<!--                        </submenu>-->
<!--                        <submenu name="3">-->
<!--                            <template slot="title">-->
<!--                                <icon type="ios-analytics"></icon>-->
<!--                                Item 3-->
<!--                            </template>-->
<!--                            <menu-item name="3-1">Option 1</menu-item>-->
<!--                            <menu-item name="3-2">Option 2</menu-item>-->
<!--                        </submenu>-->
<!--                    </i-menu>-->
<!--                </sider>-->
<!--                <layout :style="{padding: '0 24px 24px'}">-->
<!--                    <breadcrumb :style="{margin: '24px 0'}">-->
<!--                        <breadcrumb-item>Home</breadcrumb-item>-->
<!--                        <breadcrumb-item>Components</breadcrumb-item>-->
<!--                        <breadcrumb-item>Layout</breadcrumb-item>-->
<!--                    </breadcrumb>-->
<!--                    <i-content :style="{padding: '24px', minHeight: '280px', background: '#fff'}">-->
<!--                        Content-->
<!--                    </i-content>-->
<!--                </layout>-->
<!--            </layout>-->
<!--        </layout>-->
<!--    </div>-->
<!--</div>-->
<!--<script>-->
<!--    // var Main = {-->
<!--    //-->
<!--    // }-->

<!--    // var Component = Vue.extend(Main)-->
<!--    // new Component().$mount('#app')-->

<!--    new Vue({-->
<!--        el: '#app',-->
<!--        data: {-->
<!--            visible: false-->
<!--        },-->
<!--        methods: {-->
<!--            show: function () {-->
<!--                this.visible = true;-->
<!--            }-->
<!--        }-->
<!--    })-->
<!--</script>-->

<!--</body>-->
<!--</html>-->