<!-- 顶栏 Start -->
<div id="header">
    <i-header>
        <i-menu mode="horizontal" theme="dark" active-name="1">
            <div class="layout-logo"></div>
            <div class="layout-nav">
                <menu-item name="1">
                    <icon type="ios-navigate"></icon>
                    Item 1
                </menu-item>
                <menu-item name="2">
                    <icon type="ios-keypad"></icon>
                    Item 2
                </menu-item>
                <menu-item name="3">
                    <icon type="ios-analytics"></icon>
                    Item 3
                </menu-item>
                <menu-item name="4">
                    <icon type="ios-paper"></icon>
                    Item 4
                </menu-item>
            </div>
        </i-menu>
    </i-header>
</div>
<script>
    var $header = new Vue({
        el: '#header',
        data: function () {
            return {

            }
        },
        methods: {


        }
    })
</script>
<!-- 顶栏 End -->